/*FUNÇÃO DE ANIMAÇÃO NA HORA DE DIGITAR CADA NUMERO DO VOTO */
@keyframes pisca {
    0% { opacity: 0.2;}
    50% {opacity: 1;}
    100% {opacity: 0.2;}
}

/* CSS DE ESTRUTURA DA URNA */
/* RESET DE CSS PADRAO*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* CSS DA URNA*/

.urna {
    width: 1000px;
    height: 320px;
    margin: auto;
    background-color: #dbd5c9;
    padding: 20px;
    margin-top: 20px;
    display: flex;
}
/* ESTRUTURA DA TELA*/

.tela {
    width: 500px;
    height: 320px;
    background: linear-gradient(to right, #E8E8E8, #C1C1C1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #555555;

}
/* ESTRUTURA DO TECLADO*/

.teclado {
    margin-left: 30px;
    background-color: #333333;
    width: 500px;
}

.teclado_linha {
    display: flex;
    justify-content: center;
    align-items: center;
}

.teclado_botao {
    width: 50px;
    height: 30px;
    padding: 5px;
    color: #FFFFFF;
    font-size: 20px;
    background-color: #000000;
    box-shadow: 3px 3px 0px #555;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}

.branco {
    width: 60px;
    height: 30px;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 15px;
}

.corrige {
    width: 60px;
    height: 30px;
    background-color: #F09046;
    color: #000000;
    font-size: 15px;
}

.confirma {
    width: 80px;
    height: 40px;
    background-color: #48C079;
    color: #000000;
    font-size: 15px;
}

/* ESTRUTURA DE TEXTOS EXIBIDOS NA TELA*/

.d_1 {
    display: flex;
    flex: 1;
}

.d_2 {
    height: 50px;
    padding-left: 10px;
    font-size: 15px;
    border-top: 2px solid #000000;
}

.d_1_left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;

}

.d_1_1 {
    height: 50px;
    display: flex;
    align-items: center;
}

.d_1_2 {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d_1_3 {
    height: 50px;
    display: flex;
}

.numero {
    display: inline-block;
    border: 1px solid #000000;
    width: 30px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.pisca {
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.d_1_4 {
    flex: 1;
    line-height: 30px;
}

.d_1_right {
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.imagem {
    border: 1px solid #000000;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    margin: 10px;
}

.imagem img {
    width: 90%;
}

.imagem.small {
    width: 70%;
    font-size: 12px;
}

.aviso_grande {
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;
}

.aviso_gigante {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 100px;
}